{% extends 'layout2.html' %}

{%block main%}

<form action="/user12/Doproject/witnessSave" align="left" method="post" enctype="multipart/form-data">

    <div class="infoInimgAndInfo">
            <div class="productTitle">
                  
      
            
            <div class="productPrice">
                <div class="juhuasuan">
                    <span class="juhuasuanBig">上传凭证过程</span>
                  
                </div>
    <br><br>
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">请输入项目编号:</span>
        <input type="text" name="proid" class="form-control" placeholder="projectID" aria-describedby="sizing-addon1">
    </div>
    <br />
    <br />

    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">凭证说明：</span>
        <input name="shuoming" type="text" class="form-control" placeholder="这笔钱花在哪？" aria-describedby="sizing-addon1">
    </div>

    <br />
    <br />

    <div class="info_list" style="border-bottom:none;">
        <div class="list_left2">证据图片上传<span>——(请图片保持清晰)——点击示例图片提交图片</span></div>
    </div><br>

    <div class="id_img_wp">
        <input type="file" accept="image/*" onchange="getzImg(this)" style="display:none" value="" id="img_z"
            name="picUrl" />
        <!-- <input type="file" accept="image/*" onchange="getfImg(this)" value="" id="img_f" style="display:none" name="picUrl"/> -->
        <div class="img_wp" onclick="zhengmian()">
            <img src="/public/images/u=1838858321,3917166133&fm=15&gp=0.jpg" id="zmz" />

        </div>

    </div>

    <script>
        $(function () {
            $('.img_wp img').height($('.img_wp img').width() * 0.6);
            $(window).resize(function () {
                $('.img_wp img').height($('.img_wp img').width() * 0.6);
            })
        })
        //正面
        function zhengmian() {
            $('#img_z').click();
        }
        function getzImg(imgFile) {

            var file = imgFile.files[0];

            var reader = new FileReader();
            reader.readAsDataURL(file);//将文件读取为Data URL小文件   这里的小文件通常是指图像与 html 等格式的文件
            reader.onload = function (e) {
                $("#zmz").attr("src", e.target.result);
            }
        }

    </script>



    <br>
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">以太坊地址：</span>
        <input name="address1" type="text" class="form-control" placeholder="收钱以太坊地址" aria-describedby="sizing-addon1">
    </div>

    <br />
    <br />
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">需要的金额：</span>
        <input name="money1" type="text" class="form-control" placeholder="所需多少钱" aria-describedby="sizing-addon1">
    </div>

    <br />
    <br />

    <input type="submit" value="提交凭证请求">

    <br />
</form>
<style>
        body{
            font-size: 12px;
            font-family: Arial;
        }
        div.imgAndInfo{
            margin: 40px 20px;
        }
        div.imgInimgAndInfo{
            width: 100px;
            float: left;
        }
        div.infoInimgAndInfo{
            padding: 0px 20px;
            overflow: hidden;
        }
        div.infoInimgAndInfo div.productTitle{
            color: black;
            font-size: 16px;
            font-weight: bold;
            margin: 0px 10px;
        }
        div.infoInimgAndInfo div.productSubTitle{
            color: #DD2727;
            font-size: 12px;
            margin: 0px 10px;
        }
        div.infoInimgAndInfo div.juhuasuan{
            background-color: #2DA77A;
            color: white;
            text-align: center;
            line-height: 40px;
            margin-top: 10px;
        }
        div.infoInimgAndInfo span.juhuasuanBig{
            font-size: 18px;
            font-weight: bold;
            font-family: 黑体;
        }
        div.infoInimgAndInfo span.juhuasuanTime{
            color: #FFC057;
            font-weight: bold;
        }
        div.infoInimgAndInfo div.productPriceDiv{
            background-image:url(http://how2j.cn/tmall/img/site/priceBackground.png);
            height: 102px;
            padding: 10px;
            color: #666666;
        }
        div.infoInimgAndInfo div.gouwujuanDiv{
            margin-top: 5px;
        }
        div.infoInimgAndInfo div.originalDiv{
            margin-top: 5px;
        }
        div.infoInimgAndInfo span.originalPriceDesc{
            color: #999999;
            display: inline-block;
            width: 68px;
        }
        div.infoInimgAndInfo span.originalPrice{
            font-family: Arial;
            font-size: 12px;
            color: #333333;
            text-decoration: line-through;
        }
        div.infoInimgAndInfo span.promotionPriceYuan{
            font-family: Arial;
            font-size: 18px;
            color: #C40000;
        }
        div.infoInimgAndInfo span.promotionPrice{
            color: #c40000;
            font-family: Arial;
            font-size: 30px;
            font-weight: bold;
        }
        div.infoInimgAndInfo span.promotionPriceDesc{
            color: #999999;
            display: inline-block;
            width: 68px;
            position: relative;
            left: 0px;
            top: -10px;
        }
        div.infoInimgAndInfo div.productSaleAndReviewNumber{
            margin: 20px 0px;
            border-top-style: dotted;
            border-top-color: #C9C9C9;
            border-top-width: 1px;
            border-bottom-style: dotted;
            border-bottom-color: #C9C9C9;
            border-bottom-width: 1px;
            padding: 10px;
        }
        div.infoInimgAndInfo div.productSaleAndReviewNumber div{
            display: inline-block;
            width: 49%;
            text-align: center;
            color: #999999;
            font-size: 12px;
        }
        div.infoInimgAndInfo div.productSaleAndReviewNumber div:first-child{
            border-right-width: 1px;
            border-right-style: solid;
            border-right-color: #E5DFDA;
        }
        div.infoInimgAndInfo div.productNumber{
            color: #999999;
        }
        div.infoInimgAndInfo span.productNumberSettingSpan{
            border: 1px solid #999;
            display: inline-block;
            width: 43px;
            height: 32px;
            padding-top:7px;
        }
        div.infoInimgAndInfo input.productNumberSetting{
            border: 0px;
            height: 80%;
            width: 80%;
        }
        div.productNumber span.updown img{
            display:inline-block;
            vertical-align:top;
        }
        div.productNumber span.updown{
            border: 1px solid #999;
            display: block;
            width: 20px;
            height: 14px;
            text-align: center;
            padding-top:4px;
        }
        div.productNumber span.updownMiddle{
            height: 4px;
            display: block;
        }
        div.productNumber span.arrow{
            display: inline-block;
            width: 22px;
            height: 32px;
            vertical-align:top;
        }
        div.serviceCommitment{
            margin: 20px 0px;
        }
        div.infoInimgAndInfo span.serviceCommitmentDesc{
            color: #999999;
        }
        div.infoInimgAndInfo span.serviceCommitmentLink a{
            color: #666666;
        }
        div.buyDiv{
            margin: 20px auto;
            text-align: center;
        }
        div.buyDiv button{
            display: inline-block;
            margin: 0px 10px;
            width: 180px;
            height: 40px;
        }
        button.buyButton{
            border: 1px solid #C40000;
            background-color: #FFEDED;
            text-align: center;
            line-height: 40px;
            font-size: 16px;
            color: #C40000;
            font-family: arial;
        }
        button.addCartButton{
            border: 1px solid #C40000;
            background-color: #C40000;
            text-align: center;
            line-height: 40px;
            font-size: 16px;
            color: white;
            font-family: arial;
        }
        button.addCartButton span.glyphicon{
            font-size: 12px;
            margin-right: 8px;
        }
        a:hover{
            text-decoration:none;
        }
        .redColor{
            color: #C40000;
        }
        .boldWord{
            font-weight: bold;
        }
        </style>

{% endblock %}